{% extends 'misitio/base.html' %}
{% block content %}
{% for concierto in conciertos %}
    <p>-------------------------------------------------------------------------------------------------------</p>
<div class="content">
    <p><div class="nombre">{{ concierto.nombre }} </div> - Fecha: {{ concierto.fecha }}</p>
    <p>- Lugar: {{ concierto.lugar }} <div>- Precio: {{ concierto.precio }}</div></p>
    {% if concierto.imagen %}
    <td scope="row"><img src="{{ concierto.imagen.url }}" style="height: 200px; width: 200px;" alt="..."></td>
    {% else %}
    <td scope="row" ><img src="" style="height: 50px; width: 50px;" alt="no imagen"></td>
    {% endif %}
</div>
<a href="{% url 'delete' concierto.nombre %}" class="content">Borrar</a>
{% endfor %}

{% endblock %}