{% extends 'misitio/base.html' %}
{% block content %}
<div>

    <h3 style="font-size: 40px; font-family: 'Abel'; margin-left: 20px;">Sobre TicketEA</h3>

    <div style="font-family: 'Abel'; font-size: 20px; color: #000; margin: 40px; text-align: justify">
        <p>
        Bienvenido/a a nuestra página web, dedicada a la venta de entradas para conciertos. Nos encanta la música y creemos que los conciertos son una experiencia única que merece ser vivida al máximo. Por eso, nos hemos propuesto ayudarte a conseguir las entradas que necesitas para ver a tus artistas favoritos en directo.

        Nuestra empresa fue fundada en 2021, con el objetivo de ofrecer un servicio de venta de entradas fácil, rápido y seguro para todo tipo de conciertos. Desde entonces, hemos trabajado duro para mejorar continuamente nuestra plataforma y ofrecer la mejor experiencia posible a nuestros clientes.</p>

        <p>¿Cómo lo hacemos? En primer lugar, nos aseguramos de contar con un amplio catálogo de conciertos de todo tipo de géneros y artistas, desde las grandes estrellas internacionales hasta los talentos emergentes locales. De esta manera, puedes encontrar siempre la entrada que necesitas para el concierto que deseas.</p>

        <p>En segundo lugar, nos preocupamos por ofrecer un proceso de compra sencillo y seguro. Puedes buscar y comprar tus entradas en nuestra plataforma de forma rápida y fácil, sin complicaciones ni sorpresas desagradables. Además, nos aseguramos de contar con los más altos estándares de seguridad para garantizar la protección de tus datos y tu privacidad.</p>

        <p>En resumen, somos una empresa dedicada a hacer posible que puedas disfrutar de la música en vivo, y lo hacemos con pasión, compromiso y calidad en el servicio. Si tienes alguna pregunta o necesitas ayuda en el proceso de compra de tus entradas, no dudes en ponerte en contacto con nosotros.</p>

        <p>¡Os agradecemos vuestra confianza!</p>
    </div>
    {% load static %}

    <img src="{% static 'images/gracias_gif.gif' %}"
         style="text-align: center; border: solid 2px; margin-top: 20px; margin-left: 500px;"/>

    <br/>
    <br/>

</div>

{% endblock %}
