<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TicketEA</title>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/ticket-icon-png-0.jpg' %}">
    <!--    <link rel="stylesheet" href="{% static 'css/misitio.css' %}"/>-->
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
</head>
<body style="background-color: #e0e0e0">
<div style="background-color: black; height: 140px">
    <div align="center" style="background-color: #FFC000; font-family: 'Abel'; font-size: 20px; color: #000000; border: solid 2px;
        border-radius: 100px; padding-bottom: 50px; height: 55px; width: 500px; margin-left: 32%;">
        <h1><img src="{% static 'images/ticket-icon-png-0.jpg' %}" width="40" height="30"/>
            <a href="/" style="font-size: 50px; font-weight: bold; color: black; font-family: 'Lobster'"
               onmouseover="this.style.color='white'" onmouseout="this.style.color='black'"> TicketEA</a>
        </h1>
    </div>
    <div>
        <div align="center" style="border: solid 2px; font-family: 'Lobster'; font-size: 15px;
    color: #FFC000; height: 20px; margin-left: 33%; display: inline-block; margin-top: 3px;
            padding-left: 50px; padding-right: 50px; border-radius: 10px;">
            <a href="/" style="background-color: #FFC000; color: #000; border-radius: 10px; text-decoration: none;"
               onmouseover="this.style.color='white'"
               onmouseout="this.style.color='#000'">&nbsp;&nbsp;Inicio&nbsp;&nbsp;</a><a>&nbsp;&nbsp;</a>
            <a href="{% url 'sobre_nosotros' %}" style=" background-color: #FFC000; color: #000; text-decoration: none;
            border-radius: 10px;" onmouseover="this.style.color='white' "
               onmouseout="this.style.color='#000'">&nbsp;&nbsp;Sobre Nosotros&nbsp;</a><a>&nbsp;&nbsp;</a>
            {% if user.is_authenticated %}
            <a href="{% url 'concierto_new' %}" style="background-color: #FFC000; color: #000; border-radius: 10px; text-decoration: none;"
               onmouseover="this.style.color='white'"
               onmouseout="this.style.color='#000'">&nbsp;&nbsp;Alta Concierto&nbsp;&nbsp;<a>&nbsp;&nbsp;</a></a>
            <a href="{% url 'delete_conciertos' %}" style="background-color: #FFC000; color: #000; border-radius: 10px; text-decoration: none;"
               onmouseover="this.style.color='white'"
               onmouseout="this.style.color='#000'">&nbsp;&nbsp;Baja Concierto&nbsp;&nbsp;</a><a>&nbsp&nbsp;</a></a>
            {% else %}
            <a href="{% url 'opciones_admin' %}" style="background-color: #FFC000; color: #000; border-radius: 10px; text-decoration: none;"
               onmouseover="this.style.color='white'"
               onmouseout="this.style.color='#000'">&nbsp;&nbsp;Iniciar Sesion&nbsp;&nbsp;</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" style="border: solid 2px; font-family: 'Lobster'; font-size: 15px;
            color: #fff; height: 20px; margin-left: 27%; background-color: #f00; margin-bottom: 10px;
            border-radius: 10px; text-decoration: none; padding-left: 2px; padding-right: 2px;"
               onmouseover="this.style.color='black'"
               onmouseout="this.style.color='white'">Cerrar Sesion</a>
        {% endif %}
    </div>
    <br/>

</div>
<div class="content">
    <div class="row">
        {% block content %}
        {% endblock %}
    </div>
</div>
</body>
</html>